<script src="promo.page.ts"></script>
<ion-content>
  <!--<ion-card *ngFor="let item of news">-->
    <!--<ion-card-header>-->
      <!--<ion-img src="{{ item.imageUrl }}"></ion-img>-->
      <!--&lt;!&ndash; <ion-card-subtitle>Card Subtitle</ion-card-subtitle> &ndash;&gt;-->
      <!--<ion-card-title>{{ item.Title }}</ion-card-title>-->
    <!--</ion-card-header>-->

    <!--<ion-card-content>-->
      <!--{{ item.Subtitle }}-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->

  <ion-card *ngFor="let item of promo">
    <ion-img src="{{ item.Imageurl }}"></ion-img>
  </ion-card>

</ion-content>
