//ion-card-header{
//  background-color: #0cd1e8;
//}

ion-content{
  --background: url(../../assets/background/background2.png);
  --background-repeat: no-repeat;
  --background-size: cover;
  --overflow: hidden;
}
