<script src="../login/login.page.ts"></script>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      <ion-title>List Package</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="package-card" *ngFor="let package of packages" (click)="detailpackage(package)">
    <ion-img src="{{ package.img }}" height="100px"></ion-img>
      <ion-item>
        <p>Paket {{ package.name }}</p>
        <ion-chip slot="end">
          <ion-icon name="pricetags" color="dark"></ion-icon>
          <ion-label>IDR {{ package.price }}</ion-label>
        </ion-chip>
      </ion-item>
  </ion-card>
</ion-content>
