<ion-header>
  <ion-toolbar>
    <ion-title>listpackage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../assets/img/gold.jpg" height="100px"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="../assets/img/platinum.jpg" height="100px"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="../assets/img/titanium.jpg" height="100px"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
