//ion-content{
//  --ion-background-color:#FFBCBF;
//}

ion-content{
  --background: url(../../assets/background/background2.png);
  --background-repeat: no-repeat;
  --background-size: cover;
  --overflow: hidden;
}

