<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="darkpink"></ion-icon>
      <ion-label color="darkpink">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="explore">
      <ion-icon name="speedometer" color="darkpink"></ion-icon>
      <ion-label color="darkpink">Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myorder">
      <ion-icon name="paper" color="darkpink"></ion-icon>
      <ion-label color="darkpink">Order</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="contact" color="darkpink"></ion-icon>
      <ion-label color="darkpink">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
