<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listpackage"></ion-back-button>
      <ion-title>More Details</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="{{ data.img }}" height="100px"></ion-img>
    <h2>Paket {{ data.name }}</h2>
    <p>
      {{ data.description }}
    </p>
    <p>
      Durasi: {{ data.duration }}
    </p>
    <p>
      Harga: {{ data.fullprice }}
    </p>
    <!--<ion-button expand="block" (click)="orderdetail(data)" color="darkpink">Pesan Sekarang</ion-button>-->
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="orderdetail(data.name)" color="darkpink">Pesan Sekarang</ion-button>
</ion-footer>
