<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listpackage"></ion-back-button>
      <ion-title>More Details</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="../assets/img/gold.jpg" height="100px"></ion-img>
    <h2>Paket Gold</h2>
    <p>
      This starter project comes with simple tabs-based layout for apps
      that are going to primarily use a Tabbed UI.
    </p>
    <p>
      Take a look at the pages directory to add or change tabs,
      update any existing page or create new pages.
    </p>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="orderdetail()">Pesan Sekarang</ion-button>
</ion-footer>
