ion-content{
  --background: url(../../assets/background/background1.png);
  --background-repeat: no-repeat;
  --background-size: cover;
  --overflow: hidden;
}

ion-item{
  --background: transparent;
}
